{% extends "layout.html" %}

{% block title %}

{% if form.instance.pk %}
Tweet : Edit your tweet
{% else %}
Tweet : Create your tweet
{% endif %}

{% endblock %}

{% block content %}
<br>
<br>

<h4>
    {% if form.instance.pk %}
    Edit Tweet
    {% else %}
    Create Tweet
    {% endif %}
    <br>
    <br>
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    <br>
    <a href="{% url 'tweet_list' %}">Back to home</a>
</h4>

{% endblock %}